<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Structures</title>
</head>
<body>
    <h2>Data Structures in Jinja2</h2>

    <h3>List Oprerations</h3>

    <p>
        Rex Zoe told Princess Jahjah thah his top three fvourite movies are {{ movies[0] }},
        {{ movies[1] }} and {{ movies[2] }}.
    </p>

    <h3>Dictionary Oprerations</h3>

    <p>
       This {{ car["year"] }} {{ car["brand"] }}
        {{ car["model"] }} is the most recent of its kind.
    </p>

    <h3>Custom Data Structure Oprerations</h3>

    <p>
      The four Galilean moons of Jupiter are {{ moons.first }},  {{ moons.second }},  {{ moons.third }},  {{ moons.fourth }}.
    </p>
</body>
</html>