<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2 Expression</title>
</head>
<body>
    <h2>Expression in Jinja2</h2>

    <h3>Interpolation</h3>

    <p>
        A quick {{ color }} {{ animal_one }} jumps over the lazy {{ animal_two }}.
    </p>

    <h3>Addition and Subtraction</h3>

    <p>
        Greatness Undefined bought {{ banana_amount }} ripe bananas and {{ mango_amount }} green mangoes.
    </p>
 
    <p>In total she has {{ banana_amount + mango_amount }} fruits.</p>

    <p>Greatness Undefined gave {{ donate_amount }} fruits to Blossom Diamond. </p>

    <p>What is left with her is {{ banana_amount + mango_amount - donate_amount }} fruits.</p>

    
    <h3>String Concatenation</h3>

    <p>
       Most bible scholars believed that {{ first_name }} {{ last_name  }} was the only disciple of OUR LORD JESUS CHRIST that escaped matyrdom.
    </p>

</body>
</html>

<a href="jinja_intro.html" alt="This is the Jinja Intro Page.">Go to Jinja Intro Page</a>